.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  border: 4px solid #22314e;
  outline: none;
  color: #22314e;
  background-color: darkgoldenrod;
  cursor: pointer;
  transition: ease all 1s;
}

button:hover{
  background-color: #88660f;
  transition: ease all 1s;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}