*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: url("https://images.unsplash.com/photo-1518065896235-a4c93e088e7a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat fixed;
  background-size: cover;
  color: #F0FFFF;
  font-family: 'Verdana';
}

select, input{
  padding: 10px 15px;
  border-radius: 25px;
  color: #d2691e;
  outline: none;
}